body {
  font-family: sans-serif;
  background: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px; 
  font-size: 16px;
  margin-top: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.log-window {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  height: 265px;
  background: #f9f9f9;
  overflow-y: scroll;
}

footer {
  margin-top: 30px;
  font-weight: bold;
  color: green;
}
